.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    background-color: rgba(128, 128, 128,0.5);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    overflow-y: scroll;
    border-radius: 7px;
    padding: 18px;
}

.main::-webkit-scrollbar{
    width: 0px;
}

.prev{
    background-color: rgba(60, 54, 54, 0.4);
    width: 50%;
    padding-left: 12px;
    cursor: pointer;
    margin-bottom: 12px;
    border-radius: 7px;
    border: 2px solid white;
}

.prev:hover{
    background-color: white;
    color: black;
}