.main {
    background-color: #FF5733;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: "Brush Script MT", cursive;
    font-variant: small-caps;
    font-weight: bold;
}

.menu{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

h2{
    margin-bottom: 0px;
    padding: 0px;
}
h5{
    margin-top: 0px;
    padding: 0px;
}

.logo {
    margin-left: 10px;
    cursor: pointer;
}

.logo:hover{
    display: inline-block;
    color: #FF5733;
    background-color: white;
    border-radius: 7px;
    margin-left: 5px;
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu div:hover {
    padding: 7px;
    background-color: white;
    border-radius: 3px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    color: rgba(255, 87, 51, 1);
}